[phases.setup]
nixPkgs = ["python310", "python310Packages.pip"]

[phases.install]
cmds = ["pip install --break-system-packages -r requirements.txt"]

[phases.build]
cmds = []

[start]
cmd = "uvicorn server:app --host 0.0.0.0 --port $PORT"
